@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';
* {
    box-sizing: border-box;
}
body {
    background-color: rgb(217 249 157);
}
.item {
    background-color: rgb(255, 255, 255);
}
.item:hover {
    background-color: rgb(186 230 253);
    transition: .3s
}